.digit-layout {
  display: flex;

  .digit {
    width: 16px;
    display: inline-flex;
    justify-content: flex-end;
  }

  .digit-separator {
    width: 18px;
    display: inline-flex;
    justify-content: center;
  }
}

.small {
  .digit {
    width: 9px;
  }

  .digit-separator {
    width: 8px;
  }
}
